body{
    background-color: blanchedalmond;
}

#text{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#author{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card{
    border-radius: 10px;
}

#quote-box{
    background-color: azure;
    padding: 20px;
    width:40%;
    display: block;
    margin: 14% auto;
    border-radius: 5px;
}

#new-quote a{
    text-decoration: none;
    color:white;
}

#new-quote{
    padding:5px;
    border-radius: 3px;
    border-color: azure;
}